<div>
    <button (click)='keyPress("Q")'>Q</button>
    <button (click)='keyPress("W")'>W</button>
    <button (click)='keyPress("E")'>E</button>
    <button (click)='keyPress("R")'>R</button>
    <button (click)='keyPress("T")'>T</button>
    <button (click)='keyPress("Y")'>Y</button>
    <button (click)='keyPress("U")'>U</button>
    <button (click)='keyPress("I")'>I</button>
    <button (click)='keyPress("O")'>O</button>
    <button (click)='keyPress("P")'> P</button>
</div>
<div>
    <button (click)='keyPress("A")'>A</button>
    <button (click)='keyPress("S")'>S</button>
    <button (click)='keyPress("D")'>D</button>
    <button (click)='keyPress("F")'>F</button>
    <button (click)='keyPress("G")'>G</button>
    <button (click)='keyPress("H")'>H</button>
    <button (click)='keyPress("J")'>J</button>
    <button (click)='keyPress("K")'>K</button>
    <button (click)='keyPress("L")'>L</button>
</div>
<div>
    <button (click)='backspace()'>Back</button>
    <button (click)='keyPress("Z")'>Z</button>
    <button (click)='keyPress("X")'>X</button>
    <button (click)='keyPress("C")'>C</button>
    <button (click)='keyPress("V")'>V</button>
    <button (click)='keyPress("B")'>B</button>
    <button (click)='keyPress("N")'>N</button>
    <button (click)='keyPress("M")'>M</button>
    <button (click)='enterPress()'>Enter</button>
</div>