<div>
    <button class="{{styles[16]}}" (click)='keyPress("Q")'>Q</button>
    <button class="{{styles[22]}}" (click)='keyPress("W")'>W</button>
    <button class="{{styles[4]}}" (click)='keyPress("E")'>E</button>
    <button class="{{styles[17]}}" (click)='keyPress("R")'>R</button>
    <button class="{{styles[19]}}" (click)='keyPress("T")'>T</button>
    <button class="{{styles[24]}}" (click)='keyPress("Y")'>Y</button>
    <button class="{{styles[20]}}" (click)='keyPress("U")'>U</button>
    <button class="{{styles[8]}}" (click)='keyPress("I")'>I</button>
    <button class="{{styles[14]}}" (click)='keyPress("O")'>O</button>
    <button class="{{styles[15]}}" (click)='keyPress("P")'> P</button>
</div>
<div>
    <button class="{{styles[0]}}" (click)='keyPress("A")'>A</button>
    <button class="{{styles[18]}}" (click)='keyPress("S")'>S</button>
    <button class="{{styles[3]}}" (click)='keyPress("D")'>D</button>
    <button class="{{styles[5]}}" (click)='keyPress("F")'>F</button>
    <button class="{{styles[6]}}" (click)='keyPress("G")'>G</button>
    <button class="{{styles[7]}}" (click)='keyPress("H")'>H</button>
    <button class="{{styles[9]}}" (click)='keyPress("J")'>J</button>
    <button class="{{styles[10]}}" (click)='keyPress("K")'>K</button>
    <button class="{{styles[11]}}" (click)='keyPress("L")'>L</button>
</div>
<div>
    <button (click)='backspace()'>Back</button>
    <button class="{{styles[25]}}" (click)='keyPress("Z")'>Z</button>
    <button class="{{styles[23]}}" (click)='keyPress("X")'>X</button>
    <button class="{{styles[2]}}" (click)='keyPress("C")'>C</button>
    <button class="{{styles[21]}}" (click)='keyPress("V")'>V</button>
    <button class="{{styles[1]}}" (click)='keyPress("B")'>B</button>
    <button class="{{styles[13]}}" (click)='keyPress("N")'>N</button>
    <button class="{{styles[12]}}" (click)='keyPress("M")'>M</button>
    <button (click)='enterPress()'>Enter</button>
</div>