<wordle-workspace-word #word [current]='currentInd===0'></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===1'></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===2'></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===3'></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===4'></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===5'></wordle-workspace-word>
<button (click) = "test()">Check</button>
<button (click) = "playAgain()">Play again</button>