<h2 [hidden]="inProgress">{{endMessage}}</h2>
<canvas #canvas ></canvas>
<wordle-workspace-word #word [current]='currentInd===0' [componentId]="'0'"></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===1' [componentId]="'1'"></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===2' [componentId]="'2'"></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===3' [componentId]="'3'"></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===4' [componentId]="'4'"></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===5' [componentId]="'5'"></wordle-workspace-word>
<div>
    <button (click) = "newWord()">New Word</button>
</div>

<wordle-workspace-keyboard #keyboard></wordle-workspace-keyboard>
