<h2 [hidden]="inProgress">{{endMessage}}</h2>
<wordle-workspace-word #word [current]='currentInd===0'></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===1'></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===2'></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===3'></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===4'></wordle-workspace-word>
<wordle-workspace-word #word [current]='currentInd===5'></wordle-workspace-word>
<div>
    <button (click) = "newWord()">New Word</button>
</div>

<wordle-workspace-keyboard></wordle-workspace-keyboard>
