<input disabled='{{!current}}' class='{{correctness[0]}}' type ="text" maxlength="1" [(ngModel)]='chars[0]' (keyup)="onInput($event)"/>
<input disabled='{{!current}}' class='{{correctness[1]}}' type ="text" maxlength="1" [(ngModel)]='chars[1]' (keyup)="onInput($event)"/>
<input disabled='{{!current}}' class='{{correctness[2]}}' type ="text" maxlength="1" [(ngModel)]='chars[2]' (keyup)="onInput($event)"/>
<input disabled='{{!current}}' class='{{correctness[3]}}' type ="text" maxlength="1" [(ngModel)]='chars[3]' (keyup)="onInput($event)"/>
<input disabled='{{!current}}' class='{{correctness[4]}}' type ="text" maxlength="1" [(ngModel)]='chars[4]' (keyup)="onInput($event)"/>